* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: hsl(233, 47%, 7%);
    color: hsla(0, 0%, 100%, 0.75);
    /*font-family: 'Lexend Deca', sans-serif;*/
}
img {
    display: block;
    width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 0 0.4em 0;
    margin: 0;
    line-height: 1.4;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

em {
    color: hsl(277, 64%, 61%);
    font-style: normal;
}
main {
    padding: 3em 2.5em;
}

p {
    padding: 0;
    text-align: center;
    line-height: 1.7;
}

.card-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 4em 1.2em;
    background-color: hsl(244, 38%, 16%);
    border-radius: 8px;
}

.card-image {
    position: relative;
}

.card-image::after {
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 50%, 0.6);
    border-radius: 8px 8px 0 0;
}
.card-image img {
    border-radius: 8px 8px 0 0;
}

.stats-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding-top: 2em;
}
.stats-card p {
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}

.attribution {
    text-align: center;
}

.attribution a {
    color: hsl(277, 64%, 61%);
    text-decoration: none;
}
.attribution a:hover {
    opacity: 0.7;
}

@media screen and (min-width: 800px) {
    main {
        align-self: center;
        margin: 0;
        padding: 2.5em;
    }
    .center-hv {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-container {
        flex-direction: row;
        width: 96%;
        max-width: 1024px;
    }

    .stats-container {
        flex-direction: row;
        justify-content: center;
    }

    .card-container > * {
        max-width: 50%;
    }

    .card-image::after {
        border-radius: 0 8px 8px 0;
    }
    .card-image img {
        min-height: 100%;

        border-radius: 0 8px 8px 0;
    }
}
